@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="au theme template">
	<meta name="author" content="Hau Nguyen">
	<meta name="keywords" content="au theme template">

	<!-- Title Page-->
	<title>@ViewData["Title"]</title>

	<!-- Fontfaces CSS-->
	<link href="~/css/font-face.css" rel="stylesheet" media="all">
	<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
	<link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
	<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

	<!-- FullCalendar -->
	<link href='~/vendor/fullcalendar-3.10.0/fullcalendar.css' rel='stylesheet' media="all" />

	<!-- Main CSS-->
	<link href="~/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="~/index.html">
							<img src="~/images/icon/logo_zeminsiz-01.png" height="100" width="70" />
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        @if (Context.Session.GetInt32("akademisyen") != null)
                        {
                            <li>
                                <a href="/AkademisyenProjeOnerileri/Index">
                                    <i class="fas fa-chart-bar"></i>Akademisyen Proje Önerileri
                                </a>
                            </li>
                            if (Context.Session.GetInt32("asistan") != null)
                            {
                                <li>
                                    <a href="/RaporIncele/Index">
                                        <i class="fas fa-file-text"></i>Rapor İncele
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="/ProjeOnerilerim/Index">
                                    <i class="fas fa-user"></i>Proje Önerilerim
                                </a>
                            </li>
                            @if (Context.Session.GetInt32("Form2SureDoldu") == null)
                            { //Form2 yükleme tarihinden sonra proje yükleyemez
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-plus-circle"></i>Proje Ekle
                                    </a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li>
                                            <a href="/ProjeOnerilerim/ProjeEkle">Yeni Proje Ekle</a>
                                        </li>
                                        <li>
                                            <a href="/ProjeOnerilerim/EskiOnerilerim">Eski Önerilerimden Getir</a>
                                        </li>
                                        <li>
                                            <a href="/AkademisyenProjeOnerileri/OgrenciOnerisi">Öğrenci Önerileri</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                        }
                        <li>
                            <a href="/Chat/Index">
                                <i class="fas fa-envelope"></i>Mesajlar
                            </a>
                        </li>
                        @if (Context.Session.GetInt32("öğrenci") != null)
                        {
                            <li>
                                <a href="/Ogrenci/Index">
                                    <i class="fas fa-map-marker-alt"></i>YayınlananProjeler
                                </a>
                            </li>
                            @if (Context.Session.GetInt32("Form2SureDoldu") == null)
                            {
                                <li>
                                    <a href="/Ogrenci/Index">
                                        <i class="fas fa-map-marker-alt"></i>Proje Önerilerim
                                    </a>
                                </li>
                            }
                        }
                        <li>
                            <a href="/ProjeTakvimi/Index">
                                <i class="fas fa-calendar-alt"></i>Proje Takvimi
                            </a>
                        </li>
                        <li>
                            <a href="/ProjeKoor/Duyurular">
                                <i class="fas fa-newspaper"></i>Duyurular
                            </a>
                        </li>
                        @if (Context.Session.GetInt32("AraSınavveBitirmeSınav") != null)
                        {
                            <li>
                                <a href="/SinifAtama/Index">
                                    <i class="fas fa-random"></i>Sınıf Atama
                                </a>
                            </li>
                        }

                        @if (Context.Session.GetInt32("koordinatör") != null)
                        {
                            <li>
                                <a href="/ProjeKoor/YayınladığımDuyurular">
                                    <i class="fas fa-file-text"></i>Yayınladığım Duyurular
                                </a>
                            </li>
                            <li>
                                <a href="/ProjeKoor/RaporlarıDagit">
                                    <i class="fas fa-sitemap"></i>Raporları Dağıt
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("Form2SureDoldu") == null)
                        {
                            <li>
                                <a href="/AtamasıYapılanProjeler/Index">
                                    <i class="fas fa-gavel"></i>Kurul Kararı Bekleyen Projeler
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/AtamasıYapılanProjeler/Index">
                                    <i class="fas fa-gavel"></i>Atanan Projeler
                                </a>
                            </li>
                        }
                    </ul>
				</div>
			</nav>
		</header>
		<!-- END HEADER MOBILE-->
		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="~/#">
					<img src="~/images/icon/logo_zeminsiz-01.png" height="100" width="70" />
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @if (Context.Session.GetInt32("akademisyen") != null)
                        {
                            <li>
                                <a href="/AkademisyenProjeOnerileri/Index">
                                    <i class="fas fa-chart-bar"></i>Akademisyen Proje Önerileri
                                </a>
                            </li>
                            if (Context.Session.GetInt32("asistan") != null)
                            {
                                <li>
                                    <a href="/RaporIncele/Index">
                                        <i class="fas fa-file-text"></i>Rapor İncele
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="/ProjeOnerilerim/Index">
                                    <i class="fas fa-user"></i>Proje Önerilerim
                                </a>
                            </li>
                            @if (Context.Session.GetInt32("Form2SureDoldu") == null)
                            { //Form2 yükleme tarihinden sonra proje yükleyemez
                                <li class="has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-plus-circle"></i>Proje Ekle
                                    </a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li>
                                            <a href="/ProjeOnerilerim/ProjeEkle">Yeni Proje Ekle</a>
                                        </li>
                                        <li>
                                            <a href="/ProjeOnerilerim/EskiOnerilerim">Eski Önerilerimden Getir</a>
                                        </li>
                                        <li>
                                            <a href="/AkademisyenProjeOnerileri/OgrenciOnerisi">Öğrenci Önerileri</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                        <li>
                            <a href="/Chat/Index">
                                <i class="fas fa-envelope"></i>Mesajlar
                            </a>
                        </li>
                        <li>
                            <a href="/ProjeTakvimi/Index">
                                <i class="fas fa-calendar-alt"></i>Proje Takvimi
                            </a>
                        </li>
                        <li>
                            <a href="/ProjeKoor/Duyurular">
                                <i class="fas fa-newspaper"></i>Duyurular
                            </a>
                        </li>
                        @if (Context.Session.GetInt32("AraSınavveBitirmeSınav") != null)
                        {
                            <li>
                                <a href="/SinifAtama/Index">
                                    <i class="fas fa-random"></i>Sınıf Atama
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("koordinatör") != null)
                        {

                            <li>
                                <a href="/ProjeKoor/YayınladığımDuyurular">
                                    <i class="fas fa-file-text"></i>Yayınladığım Duyurular
                                </a>
                            </li>
                            <li>
                                <a href="/ProjeKoor/RaporlarıDagit">
                                    <i class="fas fa-sitemap"></i>Raporları Dağıt
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("Form2SureDoldu") == null)
                        {
                            <li>
                                <a href="/AtamasıYapılanProjeler/Index">
                                    <i class="fas fa-gavel"></i>Kurul Kararı Bekleyen Projeler
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/AtamasıYapılanProjeler/Index">
                                    <i class="fas fa-gavel"></i>Atanan Projeler
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("öğrenci") != null)
                        {
                            if (Context.Session.GetInt32("projeAlmisMi") == 1)//proje atamam yapıldıysa
                            {
                                if (Context.Session.GetInt32("KabulOlduMu") == 1)//ve bu atama kabul olduysa
                                {
                                    <li>
                                        <a href="/Ogrenci/BuDonemAldığımProje">
                                            <i class="fas fa-clipboard-list"></i>Atanan Proje
                                        </a>
                                    </li>
                                }
                                else
                                {

                                }
                            }
                            else//proje ataması yapılmadıysa istek gönderdiğim projeleri göster
                            {
                                <li>
                                    <a href="/Ogrenci/Index">
                                        <i class="fas fa-bullhorn"></i>Yayınlanan Projeler
                                    </a>
                                </li>
                                <li>
                                    <a href="/Ogrenci/IstekGonderdigimProjeler">
                                        <i class="fas fa-mail-forward"></i>İstek Gönderdiğim Projeler
                                    </a>
                                </li>
                            }
                            @if (Context.Session.GetInt32("Form2SureDoldu") == null)
                            {
                                <li>
                                    <a href="/Ogrenci/Onerilerim">
                                        <i class="fas fa-map-marker-alt"></i>Proje Önerilerim
                                    </a>
                                </li>
                            }
                        }
                    </ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->
		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						<div class="header-wrap">
							<form class="form-header" action="" method="POST">
							</form>
							<div class="header-button">
								<div class="noti-wrap">
								</div>
								<div class="account-wrap">
									<div class="account-item clearfix js-item-menu">
										<div class="image">
											<img src="~/disc/@Context.Session.GetString("dir")" />
										</div>
										<div class="content">
											<a class="js-acc-btn" href="~/#">@Context.Session.GetString("ad")</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="~/#">
														<img src="~/disc/@Context.Session.GetString("dir")" />
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="~/#">@Context.Session.GetString("ad")</a>
													</h5>
													<span class="email">@Context.Session.GetString("em")</span>
												</div>
											</div>
											<div class="account-dropdown__body">
											</div>
											<div class="account-dropdown__footer">
												<a href="/Login/Logout">
													<i class="zmdi zmdi-power"></i>Güvenli Çıkış
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- HEADER DESKTOP-->
			<!-- MAIN CONTENT-->
			<div class="main-content">
				<div class="section__content section__content--p30">
					<div class="container-fluid">
						@RenderBody()
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT-->
			<!-- END PAGE CONTAINER-->
		</div>

	</div>

	<!-- Jquery JS-->
	<script src="~/vendor/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap JS-->
	<script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
	<script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
	<!-- Vendor JS       -->
	<script src="~/vendor/slick/slick.min.js">
	</script>
	<script src="~/vendor/wow/wow.min.js"></script>
	<script src="~/vendor/animsition/animsition.min.js"></script>
	<script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
	</script>
	<script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
	<script src="~/vendor/counter-up/jquery.counterup.min.js">
	</script>
	<script src="~/vendor/circle-progress/circle-progress.min.js"></script>
	<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
	<script src="~/vendor/select2/select2.min.js">
	</script>

	<!-- full calendar requires moment along jquery which is included above -->
	<script src="vendor/fullcalendar-3.10.0/lib/moment.min.js"></script>
	<script src="vendor/fullcalendar-3.10.0/fullcalendar.js"></script>

	<!-- Main JS-->
	<script src="~/js/main.js"></script>


	@RenderSection("Scripts", required: false)
</body>

</html>
<!-- end document-->